::-moz-selection{
	background: #112233;
	color: white;
}

::selection {
	background: #112233;
	color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
	margin: 0;
  padding: 0;
}

a {
	text-decoration: none !important;
}

/* ===== Header ====== */

header {
	width: 100%;
	overflow: hidden;
}

/* Navbar */

.head-nav{
	background: transparent;
	z-index: 100;
	float: left;
	position: fixed;
	width: 100%;
	padding: 14px 20px;
	color: white;
	z-index: 100;
	height: 70px;
	transition: 0.6s ease-in !important;
	-webkit-transition: 0.6s ease-in;
	-moz-transition: 0.8s ease-in;
	-ms-transition: 0.8s ease-in;
	-o-transition: 0.8s ease-in;
}

.nav-left {
	width: 20%;
	float: left;
}

.navbar-title {
	font-family: 'Pacifico';
	font-size: 20pt;
	line-height: 1.3;
	text-decoration: none;
	margin-left: 10px;
	color: white !important;
}

.head-nav .navbar-bars {
	display: none;
}

.nav-center{
	width: 60%;
	float: left;
}

.nav-center ul{
	list-style: none;
	display: block;
	padding: 0;
	width: 100%;
	margin: 0;
	line-height: 3.4;
}

.nav-center ul li {
	display: table-cell;
	text-align: center;
}

.nav-center ul li a {
	display: inline-block;
	font-size: 10pt;
	color: white;
	text-decoration: none;
	margin: 0 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-center ul li a:after {
	content: '';
	margin-top: 2px;
	width: 0;
	display: block;
	height: 3px;
	background: #fff;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-ms-transition: .5s ease;
	-o-transition: .5s ease;
}

.nav-center ul li a:hover::after {
	width: 100%;
}

.nav-right{
	width: 20%;
	float: left;
	padding-top: 12px;
	text-align: right;
	padding-right: 40px;
}

.nav-right a{
	font-size: 10pt;
	color: white;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	text-align: right;
	border: 2px solid white;
	border-radius: 12px;
	padding: 10px 17px;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}

.nav-right a:hover{
	border: none;
	cursor: pointer;
	padding: 13px 20px;
	box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
	background: linear-gradient(-45deg, #cd0fd8 0%, #3483ff 100%);
}

/* Head */

header .rows {
	background-image: linear-gradient(-45deg, #cd0fd8 0%, #3483ff 100%);
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 101.9vh
}

header .rows::after {
	content: '';
  position: absolute;
  bottom: -12px;
  left: -12px;
  display: block;
  height: 133px;
  width: calc(100% + 12px);
  background: url(../img/triangle2.svg);
  background-size: auto;
  background-position: center bottom;
  background-repeat: repeat-x;
  z-index: 2;
}

.head-1{
	color: white;
	padding-left: 80px;
}

.head-1 h3 {
	font-weight: bold;
	font-size: 24pt;
	line-height: 1.4;
}

.head-button {
	line-height: 2;
	border-radius: 90px;
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
}

.head-button {
	border: none;
	padding: 10px 25px;
	background: white;
}

.head-button span, .head-button span .fa {
	background: -webkit-linear-gradient(-45deg, #cd0fd8 0%, #3483ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-button span .fa {
  margin-right: 5px;
}

.head-button:focus {
  outline: none;
}

.head-button:hover {
	cursor: pointer;
	box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
	background: linear-gradient(-45deg, #cd0fd8 0%, #3483ff 100%);
}

.head-button:hover span,
.head-button:hover span .fa {
	background: none;
  -webkit-text-fill-color: white;
}

a .head-button {
	color: white;
	font-family: roboto;
}

.head-1 span{
	font-size: 13pt;
	font-family: roboto;
	display: block;
}
@media (max-width: 415px) {
	.head-1 {
		height: 0;
	}
	.head-1 {
		padding-left: 40px;
	}
	.head-1 span {
		font-size: 9pt;
	}
	.head-1 h3 {
		font-size: 12pt;
	}
	a .head-button {
		font-size: 12px;
	}
}

.head-2 img{
	width: 100%;
	display: block;
}

.head-nav.scrolled {
	background: #bc4e9c;
	background: -webkit-linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
	background: linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
	padding: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.53);
}

@media (max-width: 420px) {
	.head-nav .navbar-bars {
		display: block;
	}

	.head-nav .nav-center,
	.head-nav .nav-right,
	.head-nav .nav-left {
		display: none;
	}
}

/* Sidebar */

.sidebar {
	width: 300px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1005;
	background: white;
	margin-left: -300px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-bars .sidebar-toggle {
	padding: 0
}

.sidebar.active {
	margin-left: 0;
}

.sidebar-list li {
	list-style: none
}

.sidebar-list li a {
	display: block;
	position: relative;
	padding: 10px 25px;
	width: 100%;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(9, 9, 36, 0.1);
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-list .sidebar-list-hover a:hover {
  background-color: rgba(0, 1, 38, 0.2);
}

.sidebar-overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	visibility: hidden;
}

/* ======== About ======== */

#about{
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	padding: 140px 10px;
	clear: both;
	position: relative;
}

#about .about-me {
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.about-me .row {
  padding: 10px;
  margin: 0;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about-me .column {
    float: left;
}

.about-me .left {
    width: 15%;
}

.about-me .right {
  width: 10%;
}

.about-me .middle {
    width: 75%;
}

.about-me .row:after {
    content: "";
    display: table;
    clear: both;
}

.about-me .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
	cursor:pointer;
	margin: 0 2px;
}

.about-me .dot:nth-child(1) {
	background:#ED594A;
}

.about-me .dot:nth-child(2) {
	background:#FDD800;
}

.about-me .dot:nth-child(3) {
	background:#5AC05A;
}

.about-me input[type=text] {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 25px;
    color: #666;
    padding: 5px;
}

.about-me .bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

.about-me .content {
  padding: 20px;
}

#about .right-about {
	padding-left: 120px;
}
@media (max-width: 420px) {
	#about .right-about {
		padding-left: 10px;
	}
}

.title{
	font-size: 18pt;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	margin-bottom: 19px;
}

#about .right-about-text {
	font-size: 28px;
	font-family: "Roboto", sans-serif;
}

#about .btn-about {
	margin-top: 32px;
	color: #30323d;
	background: #f1f1f1;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
	padding: 21px 30px;
	font-size: 1.125rem;
	min-width: 180px;
	line-height: 1;
	font-weight: 700;
	border-top-left-radius: 100px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border: none;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

#about .btn-about:hover {
	background: #eee;
}

/* = Download = */

#download {
	width: 100%;
	height: 60vh;
	position: relative;
	background: url("../img/business-computer-connection-450035.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

#download:after {
	background: linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

#download .container {
	z-index: 2;
}

.btn-download {
	margin: auto;
	display: block;
	background: transparent;
	padding: 32px 62px;
	border-radius: 50px;
	color: white;
	border: 3px solid white;
	font-weight: bold;
	font-size: 20px;
	width: 40%;
	text-align: center;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
}

.btn-download:hover {
	background: linear-gradient(-45deg, #cd0fd8 0%, #3483ff 100%);
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	color: white;
}

@media (max-width: 420px){
	.btn-download {
		font-size: 15px;
		width: 90%;
		padding: 13px 16px;
	}
}

/* ==== Work ==== */

#work {
	padding: 60px;
	position: relative;
}

.subtitle {
	font-size: 10.7pt;
	text-align: center;
	font-family: 'Roboto';
}

 /* Tab */

.tab {
  overflow: hidden;
  display: table;
  width: 70%;
  margin: 30px auto;
	text-align: center;
}

.tab .tablinks {
  background-color: inherit;
  width: 21%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.tab .tablinks:hover {
	color: #6b7cf5;
}

.tab .tablinks.active {
  color: #6b7cf5;
  top: 0;
	bottom: 0;
}

.tab-div{
	width: 70%;
	position: relative;
	display: block;
	margin: 0 auto;
}

.line-div{
  display: table;
	width: 100%;
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 5px;
	border-bottom: 5px solid #ebebeb;
	z-index: -1;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin: auto;
  width: 70%;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@media (max-width: 420px) {
	.tab {
		width: 90%;
	}
	.tab .tablinks {
		width: 100%;
		text-align: left !important;
	}
	.tabcontent {
		width: 100%;
		padding: 5px;
	}
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab-row-img {
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	padding: 10;
}

.tab-img {
	width: 100%;
	height: 230px;
	object-fit: cover;
	object-position: center;
	display: block;
}

.tab-ov {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-ms-transition: .5s ease;
	-o-transition: .5s ease;
	background: rgba(56, 54, 54, 0.94);
}

.tab-row-img:hover .tab-ov{
	opacity: 1;
}

.tab-ov-text {
	color: white;
	font-size: 15px;
	position: absolute;
	font-weight: 600;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* == Skills == */

#skills {
	background: #f1f1f1;
	padding: 40px;
	display: table;
	width: 100%;
}

.title-line{
	width: 80px;
	height: 6px;
	background: #6b7cf5;
	margin: 25px auto;
	display: block;
}

.skills-container {
	padding: 20px;
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.tech-icon {
	width: 23%;
	margin-right: 2%;
	text-align: center;
	padding: 13px;
	float: left;
	margin-top: 20px;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
}
@media (max-width: 420px) {
	.tech-icon {
		width: 100%;
	}
}

.tech-icon:hover {
	background: #6b7cf5;
	color: #FFF;
}

.tech-icon:hover i {
	color: #FFF;
	border-bottom: 5px solid #FFF;
	font-size: 120px;
}

.tech-icon i {
	font-size: 100px;
	color: #6b7cf5;
	border-bottom: 5px solid #6b7cf5;
	padding-bottom: 20px;
}

.tech-text{
	margin-top: 40px;
	display: block;
	font-size: 13pt;
}

.tech-text h3 {
	color: #6b7cf5;
	font-weight: bold;
	display: block;
	font-size: 27pt;
}

/* ========== svg ======== */
#svg {
	background-color: #f1f1f1;
	margin-bottom: -1px
}

.elementor-shape-fill {
  fill: #817aef
}

.elementor-shape[data-negative=false].elementor-shape-bottom,
.elementor-shape[data-negative=true].elementor-shape-top {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ====== Contact ====== */

#contact {
	padding: 60px 0 60px 0;
	background: #817aef;
	color: #FFFFFF;
	overflow: hidden;
}

#contact .title b {
	color: #ad83ec
}

.subtitle a {
	color: #fff !important;
	font-weight: bold;
}

#contact .title-line {
	width: 110px;
	height: 3px;
}

.row-social a img {
	width: 4%;
	margin: 0 15px;
	opacity: 0.7;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}

.row-social a img:hover{
	opacity: 0.9;
}

/* == Footer == */

footer {
	background-color: #25282a;
 	padding: 20px 0;
 	color: rgba(255, 255, 255, 0.7);
	text-align: left;
	text-align: center;
	font-size: 12px;
	font-family: roboto;
}

footer a {
	color: rgba(255, 255, 255, 0.7);
}

footer a:hover {
	color: white;
}

/* ====== Back top ====== */
.backtotop{
	display:none
}

.backtotop{
	color: #6b7cf5;
	position:fixed;
	bottom:50px;
	right:0;
	width: 40px;
	cursor:pointer;
	font-weight:bold;
	box-shadow:-5px 5px rgba(0,0,0,.1);
	padding:10px;
	background-color:#fefefe;
	opacity:.6;
	text-align: center;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
.backtotop:hover{
	opacity:1
}
